<%= form_with(model: circular_initiative, local: true, :html => {multipart: true}) do |form| %>
  <% if circular_initiative.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h3><%= pluralize(circular_initiative.errors.count, "error") %> prohibited this circular initiative from being saved:</h3>
        <ul>
          <% circular_initiative.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :Name_of_the_initiative %>
    <%= form.text_field :Name_of_the_initiative, class: "form-control", id: :circular_initiative_Name_of_the_initiative %>
  </div>

  <div class="form-group">
    <%= form.label :sector_id %><br>
    <%= form.collection_select :sector_id, Sector.all, :id, :name, {prompt: "Choose a sector"}, {class: "btn-btn-default dropdown-toggle"} %>
  </div>

  <div class="form-group">
    <%= form.label :Initiative_description %>
    <%= form.text_field :Initiative_description, class: "form-control", id: :circular_initiative_Initiative_description %>
  </div>

  <div class="form-group">
    <%= form.label :Leading_organization %>
    <%= form.text_field :Leading_organization, class: "form-control", id: :circular_initiative_Leading_organization %>
  </div>

  <div class="form-group">
    <%= form.label :Organization_type %>
    <%= form.text_field :Organization_type, class: "form-control", id: :circular_initiative_Organization_type %>
  </div>

  <div class="form-group">
    <%= form.label :Website %>
    <%= form.text_field :Website, class: "form-control", id: :circular_initiative_Website %>
  </div>

  <div class="form-group">
    <%= form.label :Primary_strategy %>
    <%= form.text_field :Primary_strategy, class: "form-control", id: :circular_initiative_Primary_strategy %>
  </div>

  <div class="form-group">
    <%= form.label :Region %>
    <%= form.text_field :Region, class: "form-control", id: :circular_initiative_Region %>
  </div>

  <div class="form-group">
    <%= form.label :Country %>
    <%= form.text_field :Country, class: "form-control", id: :circular_initiative_Country %>
  </div>

  <div class="form-group">
    <%= form.label :City %>
    <%= form.text_field :City, class: "form-control", id: :circular_initiative_City %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control", id: :circular_initiative_address %>
  </div>

  <div class="form-group">
    <%= form.label :partners %>
    <%= form.text_field :partners, class: "form-control", id: :circular_initiative_partners %>
  </div>

  <div class="form-group">
    <%= form.label :problem %>
    <%= form.text_field :problem, class: "form-control", id: :circular_initiative_problem %>
  </div>

  <div class="form-group">
    <%= form.label :awards %>
    <%= form.text_field :awards, class: "form-control", id: :circular_initiative_awards %>
  </div>

  <div class="form-group">
    <%= form.label :funding %>
    <%= form.text_field :funding, class: "form-control", id: :circular_initiative_funding %>
  </div>

  <div class="form-group">
    <%= form.label :linkedin %>
    <%= form.text_field :linkedin, class: "form-control", id: :circular_initiative_linkedin %>
  </div>

  <div class="form-group">
    <%= form.label :twitter %>
    <%= form.text_field :twitter, class: "form-control", id: :circular_initiative_twitter %>
  </div>

  <div class="form-group">
    <%= form.label :facebook %>
    <%= form.text_field :facebook, class: "form-control", id: :circular_initiative_facebook %>
  </div>

  <div class="form-group">
    <%= form.label :instagram %>
    <%= form.text_field :instagram, class: "form-control", id: :circular_initiative_instagram %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", id: :circular_initiative_email %>
  </div>

  <div class="form-group">
    <%= form.label :video %>
    <%= form.file_field :video, class: "form-control", id: :circular_initiative_video %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
