<%= render 'layouts/navbar' %>
<div id="jumbotron-home" class="jumbotron">
  <div class="container center">
    <div class="jumbotron-home-text">
      <h1> Roundput </h1>
      <h2> Find, review and learn more about circular economy innovations in your city </h2>
    </div>

    <div id="jumbotron-search" class="form-group">
      <%= form_tag circular_initiatives_path, method: :get do %>
        <div class="row justify-content-center">
          <%= text_field_tag :search, params[:search], class: "form-control col-8 col-md-6", placeholder:'Search for organizations or innovations...' %>
          
          <%= button_tag "Search", name: nil, data: {disable_with:"<i class='fa fa-spinner fa-spin'></i>"}, class: "btn btn-default btn-search" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class = "container">
  <div class ="row row-sectors">
    <div class="col-sm-12 com-md-12 col-lg-12">
      <h3> Popular Sectors </h3>
      <h4> Discover organizations or innovations by popular sectors </h4>
    </div>    
  </div>

  <div id="sector-tiles" class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <a href="/circular_initiatives?Organization_sector=Cities&search=&utf8=✓"><div id="cities"><span>Cities</span></div></a>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
      <a href="/circular_initiatives?Organization_sector=Food+and+Beverages&search=&utf8=✓"><div id="foodandbeverages"><span>Food and Beverages</span></div></a>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
      <a href="/circular_initiatives?Organization_sector=Consumer+Products&search=&utf8=✓"><div id="consumerproducts"><span>Consumer Products</span></div></a>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
      <a href="/circular_initiatives?Organization_sector=Fashion&search=&utf8=✓"><div id="fashion"><span>Fashion</span></div></a>
    </div>
  </div>

  <div class="row row-countries">
    <div class= "col-sm-12 com-md-12 col-lg-12">
      <h3> Leading countries </h3>
      <h4> Discover organizations or innovations by leading countries </h4>
    </div>
  </div>
    
  <div id="country-tiles" class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <a href="/circular_initiatives?Country=United+Kingdom&search=&utf8=✓"><div id="unitedkingdom"><span>United Kingdom</span></div></a>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
      <a href="/circular_initiatives?utf8=%E2%9C%93&Region=&Country=Sweden&Organization_type=&sector_id="><div id="sweden"><span>Sweden</span></div></a>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
      <a href="/circular_initiatives?utf8=%E2%9C%93&Region=&Country=Germany&Organization_type=&sector_id="><div id="germany"><span>Germany</span></div></a>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
      <a href="/circular_initiatives?utf8=%E2%9C%93&Region=&Country=Canada&Organization_type=&sector_id="><div id="canada"><span>Canada</span></div></a>
    </div>
  </div>
</div>

<div id="jumbotron-newsletter" class="jumbotron center">
  <h3> Subscribe to our newsletter</h3>
  <p>An update on new innovations, circular economy news and events that are on our radar.</p>
  <% if cookies[:saved_newsletter] %>
    You have successfully subscribed to our newsletter!
  <% else %>
    <%= form_for @newsletter do |f| %>
      <div class="row justify-content-center">
        <%= f.email_field :email, class: "form-control col-8 col-md-4", placeholder: "Enter email address" %>
        <%= f.button "Subscribe", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Subscribing..."} %>
      </div> 
    <% end %>
  <% end %>
</div>

   