<div class="container">
  <div class ="jumbotron">
    <div class = "container justify content center">
      <h2><B>Search for organizations or innovations below</B><h2>
    </div>
  </div>

  <div class = "row">
    <div class="filter col-sm-3">
      <h6> Region </h6>
      <% @circular_initiatives.aggs["Region"]["buckets"].sort_by{ |b| b["key"] }.each do |bucket| %>
        <div>
          <% if params[:Region] == bucket["key"].to_s %>
            <strong><%= link_to bucket["key"], request.params.except(:Region) %></strong>
          <% else %>
            <%= link_to bucket["key"], request.params.merge(Region: bucket["key"]) %>
          <% end %>
          (<%= bucket["doc_count"] %>)
        </div>
      <% end %>

      <h6> Organization Type </h6>
      <% @circular_initiatives.aggs["Organization_type"]["buckets"].sort_by{ |b| b["key"] }.each do |bucket| %>
        <div>
          <% if params[:Organization_type] == bucket["key"].to_s %>
            <strong><%= link_to bucket["key"], request.params.except(:Organization_type) %></strong>
          <% else %>
            <%= link_to bucket["key"], request.params.merge(Organization_type: bucket["key"]) %>
          <% end %>
          (<%= bucket["doc_count"] %>)
        </div>
      <% end %>

      <h6> Sector </h6>
      <% @circular_initiatives.aggs["sector_id"]["buckets"].sort_by{ |b| b["key"] }.each do |bucket| %>
        <div>
          <% if params[:sector_id] == bucket["key"].to_s %>
            <strong><%= link_to bucket["key"], request.params.except(:sector_id) %></strong>
          <% else %>
            <%= link_to bucket["key"], request.params.merge(sector_id: bucket["key"]) %>
          <% end %>
          (<%= bucket["doc_count"] %>)
        </div>
      <% end %>

      <h6> Country </h6>
      <% @circular_initiatives.aggs["Country"]["buckets"].sort_by{ |b| b["key"] }.each do |bucket| %>
        <div>
          <% if params[:Country] == bucket["key"].to_s %>
            <strong><%= link_to bucket["key"], request.params.except(:Country) %></strong>
          <% else %>
            <%= link_to bucket["key"], request.params.merge(Country: bucket["key"]) %>
          <% end %>
          (<%= bucket["doc_count"] %>)
        </div>
      <% end %>

       <h6> Strategy </h6>
      <% @circular_initiatives.aggs["Primary_strategy"]["buckets"].sort_by{ |b| b["key"] }.each do |bucket| %>
        <div>
          <% if params[:Primary_strategy] == bucket["key"].to_s %>
            <strong><%= link_to bucket["key"], request.params.except(:Primary_strategy) %></strong>
          <% else %>
            <%= link_to bucket["key"], request.params.merge(Primary_strategy: bucket["key"]) %>
          <% end %>
          (<%= bucket["doc_count"] %>)
        </div>
      <% end %>
      
    </div>



    <div class="index col-sm-9">
      <table class="table table-hover table-condensed table-responsive">
        <thead>
          <tr>
            <th class="center">Innovation</th>
            <th class="center">Organization</th>
            <th class="center">Sector</th>
            <th class="center">Org Type</th>
            <th class="center">Website</th>
            <th class="center">Primary Strategy</th>
            <th class="center">Region</th>
            <th class="center">Country</th>
            <th class="center">City</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @circular_initiatives.each do |circular_initiative| %>
            <tr>
              <td ><%= link_to circular_initiative.Name_of_the_initiative, circular_initiative %></td>
              <td class="center" ><%= circular_initiative.Leading_organization %></td>
              <td class="center" ><%= circular_initiative.sector.name %></td>
              <td class="center" ><%= circular_initiative.Organization_type %></td>
              <td class="center" ><%= link_to circular_initiative.Website, circular_initiative.Website, target: :_blank %></td>
              <td class="center" ><%= circular_initiative.Primary_strategy %></td>
              <td class="center" ><%= circular_initiative.Region %></td>
              <td class="center" ><%= circular_initiative.Country %></td>
              <td class="center" ><%= circular_initiative.City %></td>
              <td class="center" ><%= link_to 'Learn more', circular_initiative %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @circular_initiatives %>
    </div>
  </div>


  <%= link_to new_circular_initiative_path, class: "btn btn-default", data: {no_turbolink: true} do %>
    <span class="glyphicon glyphicon-plus"></span> New Circular Initiative
  <% end %>
</div>



