<table class="table table-hover table-condensed table-responsive">
  <thead>
    <tr>
      <th>Innovation</th>
      <th>Organization</th>
      <th>Sector</th>
      <th>Org Type</th>
      <th>Website</th>
      <th>Region</th>
      <th>Country</th>
      <th>City</th>
    </tr>
  </thead>

  <tbody>
    <% @circular_initiatives.each do |circular_initiative| %>
      <tr>
        <td><%= link_to circular_initiative.Name_of_the_initiative, circular_initiative %></td>
        <td><%= circular_initiative.Leading_organization %></td>
        <td><%= circular_initiative.sector.name %></td>
        <td><%= circular_initiative.Organization_type %></td>
        <td><%= link_to circular_initiative.Website, circular_initiative.Website %></td>
        <td><%= circular_initiative.Region %></td>
        <td><%= circular_initiative.Country %></td>
        <td><%= circular_initiative.City %></td>
        <td><%= link_to 'Learn more', circular_initiative, class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @circular_initiatives %>

