<div class ="container">
  <div class="row">
    <div class="col-md-4 basic-info">
      <div class="row row-header justify-content-center">
        <h2>
          <%= @circular_initiative.Leading_organization %>
        </h2>
      </div>

      <div class ="row row-content align-items-center">
        <div class=" col-12 col-sm-3 col-md-3">
          <p>
            <strong>Sector</strong>
          </p>
        </div>

        <div class=" col-12 col-sm-9 col-md-9">
          <p>
            <%= @circular_initiative.sector.name %>
          </p>
        </div>
      </div>


      <div class ="row row-content align-items-center">
        <div class=" col-12 col-sm-3 col-md-3">
          <p>
            <strong>Org type</strong>
          </p>
        </div>

        <div class=" col-12 col-sm-9 col-md-9">
          <p>
            <%= @circular_initiative.Organization_type %>
          </p>
        </div>
      </div>

      <div class ="row row-content align-items-center">
        <div class=" col-12 col-sm-3 col-md-3">
          <p>
            <strong>Website</strong>
          </p>
        </div>

        <div class=" col-12 col-sm-9 col-md-9">
          <p>
            <%= link_to @circular_initiative.Website %>
          </p>
        </div>
      </div>

      <div class ="row row-content align-items-center">
        <div class=" col-12 col-sm-3 col-md-3">
          <p>
            <strong>Address</strong>
          </p>
        </div>

        <div class=" col-12 col-sm-9 col-md-9">
          <p>
            <%= @circular_initiative.address %>
          </p>
        </div>
      </div>

      
      <div class="map-responsive">
      <iframe
         frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAUyUpRBMU9SZSISGgM8FyloppZ1Sh2mtc 
        &q=<%= @circular_initiative.City.parameterize %>&region" allowfullscreen>
      </iframe>
  

      </div>
      <p>
        <center>
          <%= link_to 'Edit', edit_circular_initiative_path(@circular_initiative), class: "btn btn-default btn-sm-block" %> |
          <%= link_to 'Back', circular_initiatives_path, class: "btn btn-default btn-sm-block" %>
        </center>
      </p>
    </div>

    <div class="col-md-7">
      <div class="initiative-info">
      <div class="row row-header justify-content-center">
        <h4>
          Innovation Description
        </h4>
      </div>

      <div class="row row-content align-items-center">
        <div class="col-12 col-sm-3 col-md-3 topic">
          <p>
           <B> Name of the initiative </B>
          </p>
        </div>
        <div class="col-12 col-sm-3 col-md-9">
          <p>
            <%= @circular_initiative.Name_of_the_initiative %>
          </p>
        </div>
      </div>

      <div class ="row row-content align-items-center">
        <div class=" col-12 col-sm-3 col-md-3 topic">
          <p>
           <B> Initiative description</B>
          </p>
        </div>
        <div class=" col-12 col-sm-9 col-md-9 ">
          <p>
            <%= @circular_initiative.Initiative_description %>
          </p>
        </div>
      </div>

      <div class ="row row-content align-items-center">
        <div class=" col-12 col-sm-3 col-md-3 topic">
          <p>
           <B> Primary strategy </B>
          </p>
        </div>

        <div class=" col-12 col-sm-9 col-md-9">
          <p>
            <%= @circular_initiative.Primary_strategy %>
          </p>
        </div>
      </div>
    </div>

    <div class="reviews">

        <% if @reviews.blank? %>
          <div class="row row-reviews justify-content-center">
            <p>
            <h6>
              No reviews yet. Be the first to write one!
            </h6>
          </p>
          </div>
          <center>
            <%= link_to "Write a Review", new_circular_initiative_review_path(@circular_initiative), class: "btn btn-default" %>
          </center>
        
        <% else %>
          <div class="row row-header justify-content-center">
            <h5>
              Reviews and Comments
            </h5>
          </div>
          <div class="row row-reviews align-items-center">
            <div class="col-12 col-md-3">
              <% @reviews.each do |review| %>
                <p><%="#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %></p>
                <p><%= review.created_at.strftime("%-m/%-d/%y") %></p>
              <% end %>
            </div>
            <div class="col-12 col-md-9">
              <% @reviews.each do |review| %>
                <p><div class="star-rating" data-score=<%= review.rating %> ></div></p>
                <p><%= review.comment %></p>
              <% if user_signed_in? %>
                <% if (review.user == current_user) || (current_user.admin?) %>
                  <%= link_to "Edit", edit_circular_initiative_review_path(@circular_initiative, review) %>
                  <%= link_to "Delete", circular_initiative_review_path(@circular_initiative, review), method: :delete %>
                <% end %>
              <% end %>
              <% end %>
            </div>
          </div>
      <center>
        <%= link_to "Write a Review", new_circular_initiative_review_path(@circular_initiative), class: "btn btn-default" %>
      </center>
    <% end %>
    <br>
  </div>
  </div>
</div>


