<header>
  <nav class="navbar navbar-expand-lg " style="color:#f8f9fa">
    <div class="container">
      <%= link_to "Roundput", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <%= link_to "About Us", pages_about_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              What is Circular Economy?
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Definition</a>
              <a class="dropdown-item" href="#">Strategies</a>
              <a class="dropdown-item" href="#">How can you contribute?</a>
            </div>
          </li>
        </ul>
        <% if user_signed_in? %>
          <ul class="navbar-nav right">
            <li class="nav-item">
              <%= link_to "My Profile", edit_user_registration_path, class: "nav-link" %>           
            </li>
            <li class="nav-item"> 
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %> 
            </li>
            
            <% else %> 
            <li class="nav-item"> 
              <%= link_to "Log In", new_user_session_path, class: "btn btn-link login" %>
            </li>
            <li class="nav-item"> 
              <%= link_to "Add an Innovation", new_user_registration_path, class: "btn btn-success btn-md" %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
</header>